.Searched{
      padding: 40px 0;
.boxes{
    width: 21%;
    min-height: 170px;
    border: 1px solid orange;
    border-radius: 10px;
    box-shadow:0 0 15px rgb(243, 232, 232);
    margin-right: 10px;
}
.boxes:hover{
    box-shadow: 0 0 20px 10px #ccc;
}

.home{
    position: relative;
    margin-bottom: 30px;
    h1{
        font-size: 24px;
        font-weight: 400;
    }
}
.home h1::after{
    position:absolute;
    content:"";
    top:39px;
    left:0;
    width:5%;
    border-bottom:5px solid rgb(237, 175, 60);
    border-radius: 40px;
}
.home1{
    h3{
        font-size:17px;
        margin:20px;
        span{
            font-size:25px;
            background: -webkit-linear-gradient(red, rgb(230, 247, 5));
           -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.home2{
    color: red;
    position: relative;
    margin-left:20px;
}
.icons{
    position: absolute;
}
.home3{
    .icons1{
    position: relative;
    top: 30px;
    bottom: 0;
    left: 5px;
    right: 0px;
    color: orange;
    font-size:43px;
    }
}
.ho{
    display: flex;
    justify-content: space-between;
}     
.boxes:hover .icons{
    padding-left: 10px;
}
.home3{
    .icons2{
    position: relative;
    top:28px;
    bottom: 0;
    left: 6px;
    right: 0px;
    color: orange;
    font-size:55px;
    }
}
}






@media(max-width:576px){
.boxes{
    width:100%;
    margin-bottom:20px;
}
.home{
    position: relative; 
    h1{
        font-size:20px;
    }
}
.home h1::after{
    position:absolute;
    content:"";
    top:29px;
    left:0;
    width:8%;
    border-bottom:3px solid orange;
}
.home3{
    position: relative;
    .icons2{
    position:absolute;
    top:28px;
    bottom: 0;
    left: -49px;
    right: 0px;
    color: orange;
    font-size:55px;
    }
}
}      
