.subhead{
     padding: 10px;
        .menubar{ 
            display:flex;
            justify-content:space-between;
            align-items: center;

            li{
                list-style: none;
                display: flex;
                align-items: center;
             a{ 
                  display: flex;
                  align-items: center;
                  text-decoration: none;
                  color: #635551;
                  font-size: 16px;
                  font-weight: 500;
              .arrowdown{
                color: red;
                margin-top: 5px;
                margin-left: 10px;
              }
            }
          }
        }
    .offer{
          display: flex;
          align-items: center;
          background-color: rgb(190, 221, 227);
          color: var(--pri-color);
          border-radius: 10px;
          padding: 5px 20px;
          text-decoration: none;
          font-size: 12px;
          font-weight: 600;
          border: 1px solid #00bcd4;
            
           a{
              text-decoration: none;
              color: red;
              font-size: 10px;
            }
      .offbus{
        font-size: 20px;
        color:#000;
        margin-right: 10px;
      }
    }
  }