// row and col style
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}
.row >*{
	width:100%;
	padding:0 15px;
}
.col-1{ 
      width:8.33%;
	  padding:0 15px;
}
.col-2{ 
      width:16.66%;
	  padding:0 15px;
}
.col-3{ 
      width:25%;
	  padding:0 12px;
}
.col-4{ 
      width:33.33%;
	  padding:0 15px;
}
.col-5{ 
      width:41.66%;
	  padding:0 15px;
}
.col-6{ 
      width:50%;
	  padding:0 15px;
}
.col-7{ 
      width:58.33%;
	  padding:0 15px;
}
.col-8{ 
      width:66.66%;
	  padding:0 15px;
}
.col-9{ 
      width:75%;
	  padding:0 15px;
}
.col-10{ 
      width:83.33%;
	  padding:0 15px;
}
.col-11{ 
      width:91.66%;
	  padding:0 15px;
}
.col-12{ 
      width:100%;
	  padding:0 15px;
}


.footer-section{
    background-color: white;
    padding: 10px 20px;
    color: #6b6a6a;
} 

.aboutContent{
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
}
.aboutIcons{
    display: flex;
    
}

        // display: flex;
        #googleImg{
            width:20%;
            height: 70%;
            border-radius: 20px;
            margin-right: 10px;
           
        }
        #appImg{
            width:20%;
            height: 65%;
            border-radius: 25px;
        }

.icons{
    display: flex;
    font-size: 12px;
    margin-left: 30px;
    .abtIcons{
       padding: 5px;
        text-align: center; 
        color:white;
        border-radius: 50%;
        margin-right: 3px;
        font-size: 15px;
    }
}

.prohead{
    font-size:10px ;
    color: #3c3b3b;
    margin-bottom: 0;
    font-weight: 500;
}
.places{
    font-size: 10px;
    line-height: 15px;
    color: #3c3b3b;
    padding: 2px;
}
.line{
    height: 10px;
    width: 1px;
}

